.userValueInput {
  padding: 8px 6px;
  font-size: 1rem;
  text-align: center;
  border-width: 1px;
  border-style: groove;
  border-radius: 4px;
  margin: 0 0% 0 5%;
  width: 5%;
}
h3 {
  display: inline-block;
  width: 20%;
}
.inputRange {
  width: 40%;
  display: inline-block;
  margin: 0 10%;
}
.inputUnit {
  font-size: 1rem;
}
